{% extends 'base.html' %}

{% block content %}

<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">EMPLEADO</th>
        <th scope="col">EQUIPO</th>
        <th scope="col">FECHA</th>
        <th scope="col">TIPO DE MANTENIMIENTO</th>
        <th scope="col">ACCIONES</th>
      </tr>
    </thead>

    {% for i in mantenimiento %}
    
    <tbody>
        <tr class="table-active">
          <th scope="row">{{i.id}}</th>
          <td>{{i.EmpleadoId}}</td>
          <td>{{i.EquipoId}}</td>
          <td>{{i.fecha}}</td>
          <td>{{i.tipoMantenimiento}}</td>
          <td>
                <a href="{% url 'update' i.id %}" class="btn btn-warning">EDITAR</a>
                <a href="{% url 'delete' i.id %}" class="btn btn-danger">ELIMINAR</a>  
          </td>
        </tr>
    
  
      </tbody>


    {% endfor %}


  </table>
  <a href="{% url 'create' %}" class="btn btn-info">AÑADIR</a>
      
{% endblock content %}